* {
  box-sizing: border-box;
}

body {
  color: c(brown);
  font-family: 'Playfair Display', serif;
}

a {
  color: inherit;

  &:link, &:visited {
    text-decoration: none;
  }

  &:hover, &:active {
    text-decoration: underline;
  }
}
