.#{$prefix} {
  &-Accordion {
    user-select: none;

    &-title {
      position: relative;
    }

    &-content {
      position: relative;

      &.#{$prefix}-isClosed {
        display: none;
      }

    }

    &-closeIcon,
    &-openIcon {
      display: none;
    }

    .#{$prefix}-isOpened &-openIcon { display: none; }
    .#{$prefix}-isOpened &-closeIcon { display: inline-block; }

    .#{$prefix}-isClosed &-openIcon { display: inline-block; }
    .#{$prefix}-isClosed &-closeIcon { display: none; }

  }
}
