.#{$prefix} {
  &-Button {

    &--invisible {
      display: block !important;
      margin: 0 !important;
      padding: 0 !important;
      border: none !important;
      width: 0 !important;
      height: 0 !important;
      overflow: hidden !important;
    }

    &--cover::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }

  }
}
