.#{$prefix} {

  // first level container spans the entire site width
  &-Container {
    position: relative;
    width: 100%;

    @include media-smartphone-only {

      padding-left: 15px;
      padding-right: 15px;

      // no padding on small screens
      &--fsw {
          padding-left: 0;
          padding-right: 0;
      }

    }

    @include media-tablet-and-above {
        padding-left: 50px;
        padding-right: 50px;
    }
  }

}
