.#{$prefix} {
  &-Flip {

    @include media-tablet-and-below {
      &-front {
        position: relative;
        z-index: 1;
      }

      &-back {
        position: relative;
        display: none;
      }

      .#{$prefix}-isFlipped &-front { display: none; z-index: 0; }
      .#{$prefix}-isFlipped &-back { display: block; z-index: 1; }
    }

    @include media-desktop {
      perspective: 800px;

      .#{$prefix}-isFlipped &-content {
        transform: rotateY(180deg);
        position: relative;
        transition: transform .5s;
        transform-style: preserve-3d;
      }

      &--disabled.#{$prefix}-isFlipped {
        transform: none;
      }

      &-front,
      &-back {
        backface-visibility: hidden;
      }

      &-front {
      	z-index: 1;
      }

      &-back {
        transform: rotateY(180deg);
      }

    }

  }
}
