.#{$prefix} {

  &-Input {
    @include text(M);
    padding: 14px;
    outline: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom: 1px solid c(white);
    transition: border-color 0.2s ease-in-out;

    &[type="checkbox"],
    &[type="radio"] {
      position: relative;
      bottom: -2px;
      padding: 0;
    }

    &:hover:not([disabled]),
    &:focus:not([disabled]),
    &:active:not([disabled]) {
      outline: none;
    }

    &--transparent {
      color: c(white);
      background-color: transparent;
      border-bottom: 1px solid c(white);
      transition-property: background-color;

      &:focus:not([disabled]),
      &:active:not([disabled]) {
        background-color: c(brown);
      }
    }

    &--white {
      background-color: c(white);
      border-bottom: 1px solid c(brown);
      transition-property: color, border-color, background-color;
    }

    &--pink {
      padding: 7px;
      border: 1px solid c(light-grey);
      background-color: c(light-pink);
      transition-property: background-color;

      &:hover:not([disabled]),
      &:focus:not([disabled]),
      &:active:not([disabled]) {
        border-color: c(pink);
        outline: none;
      }
    }

    &--brown {
      padding: 7px;
      color: c(white);
      border: 1px solid transparent;
      background-color: c(brown);
      transition-property: background-color;

      &:hover:not([disabled]),
      &:focus:not([disabled]),
      &:active:not([disabled]) {
        border-color: c(white);
        outline: none;
      }
    }

  }

  &-FormLabel {
    @include text(S);
    display: block;

    &--inline {
      display: inline;
    }
  }

  &-ArrowDown,
  &-Cross {
    position: absolute !important;
    right: 10px;
    bottom: 50%;
    width: 9px;
    height: 9px;
    margin-left: 5px;
    transform: translateY(50%);
  }

}
