.#{$prefix} {
    &-Grid-row {
        @include row;

        &--verticalCenter {
            @include row((align-items: left center));
        }
    }

    &-Grid-col {
        @include col;

        &--grow {
            @include col-size(grow);
        }

        &--right {
            margin-left: auto;
        }
    }

}
