.#{$prefix} {
  &-Icon {
    position: relative;
    display: inline-block;

    svg,
    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
}
