/**
 *
 * Write the active media query on the DOM
 * so it can be read from javascript
 *
 */
.#{$prefix}-mediaBreakpoints {
  &-item {
    display: none;

    @include media-smartphone-only { &-smartphone { display: block; } }
    @include media-tablet-only { &-tablet { display: block }; }
    @include media-desktop { &-desktop { display: block; } }
  }
}
