/**
*
* Usage
* ratio (map)
* ratio (width, height)
* ratio (percentage)
*
**/
@mixin ratio($a, $b:null) {
	@if ($b != null) {
    .#{$prefix}-ProportionalContainer-ratio {
			padding-bottom: percentage($b/$a);
		}
	}
	@else {
		.#{$prefix}-ProportionalContainer-ratio {
			padding-bottom: $a;
		}
	}

  .#{$prefix}-ProportionalContainer-ratio {
    position: relative;
    width: 100%;
    height: 0;
  }

  .#{$prefix}-ProportionalContainer-content {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}
