.#{$prefix} {
  &-Select {
    position: relative;
    display: inline-block;
    user-select: none;
    cursor: default;
    // appearence
    padding-right: 30px;

    &.#{$prefix}-Input--transparent.#{$prefix}-isOpened {
      background-color: transparent;
    }

    &.#{$prefix}-Input--brown.#{$prefix}-isOpened {
      border-color: transparent;
    }

    &-textbox {
      position: relative;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      outline: none;
    }

    &-listbox {
      position: absolute;
      left: -1px;
      top: 100%;
      min-width: 100%;
      outline: none;
      z-index: 999999;
      cursor: default;

      &.#{$prefix}-isClosed {
        display: none;
      }

      // appearence
      .#{$prefix}-Input--pink & {
        border: 1px solid c(pink);
      }

    }

    &-option {
      outline: none;
      transition-property: background-color;
      cursor: default;
      white-space: nowrap;

      // appearence
      .#{$prefix}-Input--pink & {
        padding: 7px;
        padding-right: 35px;
        border-bottom: 1px solid c(pink);
        background-color: c(light-pink);

        &:last-child {
          border-bottom: none;
        }

        &:hover,
        &.#{$prefix}-ishighlighted {
          background-color: c(pink);
        }
      }

      // appearence
      .#{$prefix}-Input--brown & {
        padding: 7px;
        padding-right: 35px;
        border-bottom: 1px solid lighten(c(brown), 10%);
        background-color: c(brown);

        &:last-child {
          border-bottom: none;
        }

        &:hover,
        &.#{$prefix}-ishighlighted {
          background-color: lighten(c(brown), 10%);
        }
      }

      // appearence
      .#{$prefix}-Input--transparent & {
        padding: 7px;
        padding-right: 35px;
        border-bottom: 1px solid c(brown);
        background-color: c(brown);

        &:last-child {
          border-bottom: none;
        }

        &:hover,
        &.#{$prefix}-ishighlighted {
          background-color: lighten(c(brown), 10%);
        }
      }
    }

    &-icon {
      position: absolute;
      right: 0;
      bottom: 50%;
      transform: translateY(50%);
      // appearence
      right: 10px;
    }

  }
}
