.#{$prefix} {
  &-isPositioned {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
  }

  &-isSticky {
    position: fixed;
  }

  &-stickToBottom {
    position: absolute;
    top: auto;
    bottom: 0;
  }
}
