.#{$prefix} {
  &-Wrapper {
    position: relative;
    width: 100%;

    @include media-tablet-and-above {
      max-width: 1280px;
      margin: 0 auto;

      &--main {
        max-width: none;
      }
    }

  }
}
