.#{$prefix} {
  &-AccountMenu {

    &-items {
      position: relative;
      list-style: none;
    }

    &-item {
      @include text(S);
      position: relative;
      margin-bottom: 5px;
      padding: 6px;
      text-transform: uppercase;
      background-color: c(light-pink);
      transition: background-color 0.2s ease;

      &--toggle {
        cursor: pointer;
        text-transform: none;
      }

      &--logout {
        background: c(white);
        padding-left: 35px;
      }

      &:hover,
      &.#{$prefix}-isActive {
        background-color: c(pink);
      }
    }

    &-link {
      display: block;
      width: 100%;
      height: 100%;

      &:hover,
      &:active,
      &:focus {
        text-decoration: none;
      }
    }

    &-logoutIcon {
      position: absolute;
      left: 0;
      top: 0;
      width: 30px;
      height: 30px;
      transition: opacity 0.2s ease;

      &--hover {
        opacity: 0;
      }
    }

    &-item--logout:hover &-logoutIcon { opacity: 0; }
    &-item--logout:hover &-logoutIcon--hover { opacity: 1; }

    @include media-tablet-and-below {

      &::after {
        @include clearfix;
      }

      &-item--toggle {
        margin-left: -15px;
        margin-right: -15px;
      }

    }

    @include media-desktop {
      float: left;
      width: 200px;
      margin-left: -240px;

      .#{$prefix}-Accordion-title {
        display: none;
      }

      .#{$prefix}-Accordion-content {
        display: block;
      }
    }

  }
}
