.#{$prefix} {
  &-Account {
    position: relative;

    &-section {
      position: relative;

      &--registration {
        @include text(S);
      }
    }

    &-button {
      margin-top: 20px;
    }

    &-addToChart {
      white-space: nowrap;
    }

    &-productImage {
      border-radius: 100%;
      overflow: hidden;
      border: 2px solid c(light-grey);

      img {
        display: block;
        width: 100%;
      }
    }

    &-productName {
      @include text(L);
      margin-bottom: 10px;
      text-transform: uppercase;
    }

    &-productDetails {
      @include text(S);
    }

    @include media-tablet-only {

      &-productDetails {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }

    }

    @include media-tablet-and-below {

      &-sectionSubtitle {
        text-align: center;
      }

      &-button {
        width: 100%;
      }

      &-productImage {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
      }

      &-share {
        text-align: center;
        margin-top: 20px;
      }

      &-addToChart {
        margin-right: 10px;
      }

    }

    @include media-desktop {
      padding-left: 290px;

      &-sectionTitle {
        text-align: left;
      }

      &-productName,
      &-productDetails {
        text-align: left;
      }

      &-productImage {
        width: 74px;
        height: 74px;

        &--big {
          width: 144px;
          height: 144px;
        }
      }

      &-share {
        position: absolute;
        top: 20px;
        right: 0;
        padding-right: 50px;
      }

    }
  }

  &-Preferences {

    &-fieldset {
      &--tel {
        background: c(light-pink);
      }
    }

    &-formField--inline {
      display: inline-block;
      padding: 14px;
      padding-left: 0;
    }

    &-formField--inline + &-formField--inline {
      padding-left: 14px;
    }

    &-formField--tel {
      margin: 20px;
    }

    &-input--tel {
      border-bottom-color: c(brown);
    }

    @include media-smartphone-only {

      &-input--submit {
        width: 100%;
      }

    }

    @include media-tablet-and-below {

      &-fieldset {
        text-align: center;
      }

      &-input--tel {
        width: 100%;
      }

    }

    @include media-desktop {

      &-form {
        @include row;
      }

      &-fieldset {
        @include col((size: 100%));

        &--split {
          @include col-size(1/2);
        }
      }

      &-formField {

        &--promo-notify-sms,
        &--shop-notify-sms {
          background: c(light-pink);
        }
      }

      &-input--tel {
        width: 200px;
      }

    }
  }
}
