.#{$prefix} {
  &-ButtonRemove {
    @include text-sans(S);
    position: relative;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    padding-left: 25px;
    background: none;
    border: none;
    text-transform: uppercase;
    color: inherit;
    font-weight: 800;
    cursor: pointer;
    color: inherit;
    outline: none;
    transition: color 0.1s ease-out;

    &-icon {
      position: absolute;
      left: 0;
      top: 50%;
      width: 20px;
      height: 20px;
      transform: translateY(-50%);
      transition: transform 0.1s ease-out;
    }

    &:hover {
      color: c(pink);
    }

    &:hover &-icon {
      transform: translateY(-50%) rotate(-30deg);
    }
  }
}
