.#{$prefix} {
  &-Chart {

    &-productImage {
      border-radius: 100%;
      overflow: hidden;
      border: 2px solid c(light-grey);

      img {
        display: block;
        width: 100%;
      }
    }

    &-productName {
      @include text(M);
      text-transform: uppercase;
    }

    &-price {
      @include text(XL);
    }

    &-quantity {
      width: 5em;
      text-align: center;
    }

    &-productDetails {
      @include text(S);
      text-align: left;
    }

    &-recalc {
      @include text-sans(S);
      display: block;
      line-height: 0;
      margin: 0;
      padding: 0;
      margin-top: 10px;
      background: none;
      border: none;
      color: inherit;
      font-weight: 800;
      cursor: pointer;
      color: inherit;
      outline: none;
    }

    &-currency {
      @include text-sans(L);
      font-weight: 600;

      &--total {
        @include text-sans(XL);
      }
    }

    &-shippingAlternate {
      @include text(S);
    }

    &-recap {
      @include text(M);
    }

    &-recapTitle {
      @include title(L);
      text-align: left;
    }

    &-recapSum,
    &-recapShipping {
      margin-top: 20px;
      padding-bottom: 10px;
      border-bottom: 1px solid c(light-grey);
    }

    &-recapTotal,
    &-recapSubmit {
      margin-top: 20px;
    }

    &-recapLabel {
      text-transform: uppercase;
      margin-right: 5px;
    }

    &-promo {
      margin-top: 40px;
      padding: 20px;
      background-color: c(light-pink);
    }

    &-promoLabel {
      @include title(M);
      display: block;
    }

    &-promoInput#{&}-promoInput { // higher selector weight
      border: none;
      margin-top: 10px;
    }

    @include media-smartphone-only {

      &-submit {
        width: 100%;
      }

    }

    @include media-tablet-and-below {

      &-productImage {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
      }

      &-productName {
        margin-top: 10px;
      }

      &-productDetails {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }

      &-recap {
        margin-top: 40px;
      }

      &-promoInput,
      &-promoRecalc {
        width: 100%
      }

      &-promoRecalc {
        margin-top: 10px;
      }

    }

    @include media-desktop {

      &-productImage {
        display: inline-block;
        vertical-align: middle;
        width: 74px;
        height: 74px;
      }

      &-productName {
        display: inline-block;
        margin-left: 10px;
        vertical-align: middle;
      }

      &-recap {
        float: right;
        width: 300px;
      }

      &-promo {
        width: calc(100% - 320px);
      }

      &-promoLabel {
        text-align: left;
      }

      &-promoRecalc {
        margin-left: 5px;
      }

      &-promoInput {
        min-width: 400px;
      }

      &-submit {
        width: 100%;
      }

    }

  }
}
