.#{$prefix} {
  &-Contact {

    &-form {
      margin: 40px auto 0 auto;
    }

    &-formLabel--message {
      opacity: 0;
    }

    &-input {
      &--name,
      &--surname,
      &--email,
      &--message {
        width: 100%;
      }

      &--message {
        height: 12em;
        border: 1px solid c(brown);
      }
    }

    &-stores {
      position: relative;
      margin-top: 40px;
      padding-top: 40px;
      padding-bottom: 40px;

      &::after {
        content: '';
        z-index: -1;
        position: absolute;
        right: 50%;
        top: 0;
        width: 10000px;
        height: 100%;
        transform: translateX(50%);
        background-color: c(light-grey);
      }
    }

    &-storesLabel {
      @include title(L);
      margin: 0;
      margin-bottom: 20px;
    }

    @include media-smartphone-only {

      &-input--submit {
        width: 100%;
      }

    }

    @include media-tablet-and-below {

      &-formField + &-formField {
        margin-top: 40px;
      }

      &-formField + &-formField--newsletter {
        margin-top: 10px;
      }

    }

    @include media-desktop {

      &-form {
        width: 751px;
      }

      &-formFields {
        @include row((gutter: 40px));
        margin-bottom: -40px;
      }

      &-formField {
        @include col((size: 100%, gutter: 40px));
        margin-bottom: 40px;
      }

      &-formField--name,
      &-formField--surname,
      &-formField--email {
        @include col-size(50%, 40px);
      }

      &-formField--privacy {
        margin-bottom: 10px;
      }

      &-cards {
        @include row((gutter: 20px));
      }
    }

  }
}
