.#{$prefix} {
  &-ContactCard {

    &-inner {
      @include text(M);
      height: 100%;
      padding: 20px;
      background-color: c(white);
    }

    &-image {
      @include ratio(775, 515);
      margin: -20px -20px 20px -20px;

      img {
        display: block;
        width: 100%;
      }
    }

    &-name {
      @include title(S);
      text-align: left;
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid c(light-grey);
    }

    &-info {
      @include text(M);
    }

    &-infoLabel {
      font-weight: 800;
      margin-top: 1em;
    }

    @include media-smartphone-only {
      & + & {
        margin-top: 20px;
      }
    }

    @include media-desktop {
      @include col((size: 1/3, gutter: 20px));
    }

  }
}
