.#{$prefix} {
  &-DropDownMenu {
    background: c(brown);
    cursor: default;

    &-section--desktopOnly {
      display: none;
    }

    &-subSection {
      display: none;
    }

    &-link,
    &-title {
      display: block;
      padding: 10px 25px;
      color: c(white);
      text-transform: uppercase;
      font-size: 12px;

      &--small {
        text-transform: none;
      }

      &--more {
        font-style: italic;
      }

      img, span { display: block; }

      img + span {
        @include text(XS);
        margin-top: 11px;
      }
    }

    @include media-tablet-and-above {
      @include row((
        align-items: center stretch,
        wrap: false
      ));
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      min-height: 400px;
      animation-duration: 0.2s;
      animation-fill-mode: forwards;

      &.#{$prefix}-isOpening {
        animation-name: fadeIn;
      }

      &.#{$prefix}-isClosing {
        animation-name: fadeOut;
      }

      &-section {
        @include col((gutter: 55px));
        min-width: 150px;

        &--desktopOnly {
          display: block;
        }
      }

      &-items {
        padding: 25px 0;
      }

      &-subSection {
        display: block;
        padding: 15px 0;
      }

      &-title {
        position: relative;

        &:after {
          content: '';
          display: block;
          position: absolute;
          left: 25px;
          top: 100%;
          border-bottom: 1px solid c(white);
          width: 125px;
        }
      }

    }

    @include media-desktop {
      left: -225px;
      right: -225px;
    }

  }
}
