.#{$prefix} {
  &-ExpandingBoxContainer {
    @include row;
    position: relative;

    @include media-smartphone-only {
      &--cropped .#{$prefix}-ExpandingBox:nth-child(n+7) {
        display: none;
      }
    }
  }
}
