.#{$prefix} {
  &-ExpandingBox {

    @include col;
    position: relative;
    display: block;
    text-align: center;
    color: c(white);
    transform-origin: 0 0;
    transition: transform 0.3s ease-out;

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }

    &-image {
      @include ratio(100%);
      display: block;
      width: 100%;
      overflow: hidden;

      img {
        width: auto;
        height: 100%;
        position: absolute;
        top: 0;
        right: 50%;
        transform: translateX(50%);
      }
    }

    &-content {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
    }

    &-title {
      @include title(XXS);
      position: absolute;
      padding: 6px;
      right: 50%;
      bottom: 50%;
      transform: translate(50%, 50%);
      white-space: nowrap;
      background: rgba(#000, 0.5);
    }

    &-button {
      @include text-sans(XS);
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      top: 0;
      transform: none;
      white-space: nowrap;
      text-transform: uppercase;

      &:hover &-buttonLabel {
        text-decoration: underline;
      }
    }

    &.#{$prefix}-isLastCol {
      transform-origin: 100% 0;
    }

    &.#{$prefix}-isLastRow {
      transform-origin: 0 100%;
    }

    &.#{$prefix}-isLastRow.#{$prefix}-isLastCol {
      transform-origin: 100% 100%;
    }

    &.#{$prefix}-isExpanded {
      transform: scale(2);
      z-index: 2;
      transition-duration: 0.35s;
    }

    &.#{$prefix}-isShifted {
      z-index: 1;
    }

    @keyframes #{$prefix}-ExpandingBox {
      from { transform: scale(0.25); opacity: 0; }
      to { transform: scale(0.5); opacity: 1; }
    }

    &.#{$prefix}-isExpanded &-content {
      animation: #{$prefix}-ExpandingBox 0.25s ease-out 0.2s;
      animation-fill-mode: forwards;
    }

    @include media-smartphone-only {
      @include col-size(1/3);

      // &-button {
      //   right: 0;
      //   bottom: 0;
      //   left: 0;
      //   top: 0;
      //   transform: none;
      // }
    }

    @include media-tablet-and-above {
      @include col-size(1/4);

      &-buttonLabel {
        position: absolute;
        right: 50%;
        bottom: calc(50% - 30px);
        transform: translate(50%, 50%);
      }
    }

    @include media-desktop {
      @include col-size(1/8);
    }

  }
}
