.#{$prefix} {
  &-FooterBar {

    position: relative;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;

    &-text,
    &-copyright,
    &-items,
    &-item {
      list-style: none;
    }

    &-text {
      @include text-sans(M);
    }

    &-copyright {
      @include text-sans(S);
    }

    &-item {
      @include text(XS);
    }

    &-link {
      text-transform: uppercase;
    }

    &-share {
      position: absolute;
      right: 0;
      bottom: 16px;
      padding-right: inherit;
      white-space: nowrap;
    }

    @include media-smartphone-only {

      background: c(white);

      &-text {
        margin-bottom: 32px;
      }

      &-copyright,
      &-item {
        margin-bottom: 16px;
      }

      .#{$prefix}-Share-shareIcon-inverted {
        display: none;
      }

    }

    @include media-tablet-and-above {

      background: c(brown);
      color: c(pink);

      &:after {
        content: '';
        z-index: -1;
        position: absolute;
        top: 0;
        right: 50%;
        transform: translateX(50%);
        width: 10000px;
        height: 100%;
        background: c(brown);
      }

      &-text {
        margin-bottom: 16px;
      }

      &-copyright,
      &-menu,
      &-item {
        display: inline-block;
      }

      &-copyright {
        padding-right: 8px;
      }

      &-item {
        padding-left: 16px;
        padding-right: 16px;
        border-right: 1px solid c(pink);

        &:first-child {
          border-left: 1px solid c(pink);
        }

        &:last-child {
          border-right: none;
        }
      }

      .#{$prefix}-Share-shareIcon {
        display: none;
      }

      .#{$prefix}-Share-shareIcon--inverted {
        display: block;
      }

    }

  }
}
