.#{$prefix} {
   &-FooterBox {
    position: relative;

    @include col;
    display: block;
    text-align: center;

    &--big &-front,
    &--big &-back {
      padding: 50px 25px
    }

    &--small &-front,
    &--small &-back {
      padding: 35px 10px;
    }

    &--small {
      position: relative;
      background-color: c(pink);
      transition: background-color 0.2s ease-in-out;

      &:hover {
        background-color: darken(c(pink), 10%);
      }

      // fake border
      &::after {
        content: "";
        display: block;
        position: absolute;
        right: 0;
        top: 10%;
        height: 80%;
        width: 1px;
        background: c(brown);
        z-index: 3;
      }

      &:last-child::after {
        display: none;
      }
    }

    &--darker {
      color: c(white);
      background: c(brown);
    }

    &--dark {
      color: c(white);
      background: lighten(c(brown), 10%);
    }

    &-title {
      line-height: 1;
      padding: 0 25px;

      &--big {
        @include title(L);
      }

      &--small {
        @include title(S);
      }

    }

    &-button {
      margin-top: 35px;
    }

    &-icon {
      display: inline-block;

      &--big {
        width: 70px;
        height: 55px;
        margin-bottom: 35px;
      }

      &--small {
        width: 40px;
        height: 30px;
        margin-bottom: 25px;
      }

    }

    @include media-tablet-and-below {

      &--big {
        @include col-size(100%);
      }

      &--small {
        @include col-size(50%);

        &:nth-child(3)::before,
        &:nth-child(4)::before {
          content: "";
          display: block;
          position: absolute;
          bottom: 0;
          left: 10%;
          width: 80%;
          height: 1px;
          background: c(brown);
        }

        &:nth-child(4)::after {
          display: none;
        }
      }

      &-back {
        background: c(white);
        border: 10px solid c(brown);
      }

    }

    @include media-desktop {

      &--big {
        @include col-size(50%);
        height: 300px;
      }

      &--small {
        @include col-size(25%);
        height: 150px;
      }

      &-content,
      &-front,
      &-back {
        position: absolute !important;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: inherit;
      }

      &-front {
        background-color: inherit;
      }

      &-back {
        background: c(white);
        border: 10px solid c(brown);
      }

      &-inner {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
      }

    }

  }

}
