.#{$prefix} {
  &-ImageStrip {

    position: relative;

    @include media-tablet-and-below {

      &-thumbnails {
        @include row((gutter: 5px, wrap: false));
        overflow-x: scroll;
        margin-bottom: 5px;
      }

      &-thumbnail {
        @include col((size: 105px, gutter: 5px));
        height: 100px;

        img {
          display: block;
          height: 100%;
          margin: 0 auto;
        }
      }

      &-images {
        @include row((gutter: 5px, wrap: false));
        overflow-x: scroll;
        margin-bottom: 40px;
      }

      &-image {
        @include col((size: (auto, 90%), gutter: 5px));
        height: 250px;

        img {
          display: block;
          height: 100%;
        }
      }

    }

    @include media-desktop {

      &:after {
        @include clearfix;
      }

      &-images,
      &-thumnails {
        position: relative;
      }

      &-thumbnails {
        width: 100px;
        float: left;
      }

      &-images--narrow {
        width: calc(100% - 105px);
        float: right;
      }

      &-image,
      &-thumbnail {
        width: 100%;
        overflow: hidden;

        img {
          display: block;
          width: 100%;
        }
      }

      &-image {
        display: block;;
        margin-top: 20px;

        &:first-child {
          margin-top: 0;
        }
      }

      &-thumbnail {
        display: none;
        cursor: pointer;
        margin-bottom: 2px;

        &.#{$prefix}-isVisible {
          display: block;
        }
      }

    }

  }
}
