.#{$prefix} {
  &-Jumbotron {

    width: 100%;
    overflow: hidden;

    &-content {
      position: absolute;
      text-align: center;
      width: calc(100% - 100px);
      bottom: 50%;
      transform: translateY(50%);
      color: c(white);

      &--circle {
        padding: 15px;
        border-radius: 100%;
      }

      &--centered {
        right: 50%;
        transform: translate(50%, 50%);
      }
    }

    &-content--circle &-contentInner {
      position: absolute;
      right: 50%;
      bottom: 50%;
      transform: translate(50%, 50%);
      width: 75%;
    }

    &-title {
      margin-bottom: 20px;
    }

    &-button {
      margin-top: 26px;
    }

    @include media-tablet-and-below {

      &-content {
        width: calc(100% - 20px);
      }

    }


    /*========================
    * JUMBOTRON VARIANTS
    * diffent pages shows the Jumbotron component in different ways
    ========================*/

    /*==========  HOME  ==========*/

    &-title--home {
      @include title(XL);
    }

    &-slideshow--home {
      height: 550px;
    }

    /*==========  CONTACT  ==========*/

    @include media-tablet-and-below {

      &--contact {
        display: none;
      }

    }

    /*==========  SHOP  ==========*/

    &-title--shop {
      @include text(XL);
      font-style: italic;
      font-weight: 400;
    }

    &-subTitle--shop {
      @include text(L);
      font-weight: 400;
    }

    @include media-smartphone-only {

      &--shop {
        display: none;
      }

    }

    /*==========  COLLECTIONS & MAGAZINE  ==========*/

    &-title--collections,
    &-title--magazine {
      @include text(XXXL);
      font-weight: 400;
    }

    @include media-smartphone-only {

      &--collections,
      &--magazine {
          display: none;
      }

    }

    /*==========  COLLECTION && PRODUCT  ==========*/

    &-content--collection,
    &-content--product {
      background: rgba(c(brown), 0.85);
    }

    &-title--collection,
    &-title--product {
      @include title(L);
      margin-bottom: 24px;
    }

    &-text--collection,
    &-text--product {
      @include text(S);

      p {
        margin-bottom: 12px;
      }
    }

    @include media-smartphone-only {

      &-content--collection,
      &-content--product {
        position: relative;
        width: 100%;
        bottom: auto;
        transform: none;
        padding: 30px 15px;
        border-radius: 0;
        right: auto;
        background: c(brown);
      }

      &-content--circle &-contentInner--collection,
      &-content--circle &-contentInner--product {
        position: static;
        width: auto;
        transform: none;
      }

    }

    @include media-tablet-and-above {

      &-content--collection,
      &-content--product {
        left: 10%;
        width: 360px;
        height: 360px;
      }

    }

    /*==========  MATERIALS & BRAND  ==========*/

    &-content--materials,
    &-content--brand {
      color: c(brown);
      background: rgba(c(pink), 0.85);
    }

    &-title--materials,
    &-title--brand {
      @include title(L);
      margin-bottom: 24px;
    }

    &-subTitle--materials,
    &-subTitle--brand {
      @include text(M);
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 28px;
    }

    &-text--materials,
    &-text--brand {
      @include text(S);

      p {
        margin-bottom: 12px;
      }
    }

    @include media-smartphone-only {

      &-content--materials,
      &-content--brand {
        position: relative;
        width: 100%;
        bottom: auto;
        transform: none;
        padding: 15px;
        border-radius: 0;
        right: auto;
      }

      &-content--circle &-contentInner--materials,
      &-content--circle &-contentInner--brand {
        position: static;
        width: auto;
        transform: none;
      }

    }

    @include media-tablet-and-above {

      &-content--materials,
      &-content--brand {
        width: 480px;
        height: 480px;
      }

    }

  }
}
