.#{$prefix} {
  &-LinearButton {
    @include text-sans(M);
    position: relative;
    display: inline-block;
    padding: 7px 13px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }

    &-borders {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
    }

    &-border {
      transition: transform 0.1s ease;

      &--bottom {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
      }

      &--left {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 1px;
        height: 100%;
        transform: scaleY(0);
        transform-origin: bottom center;
        transition-delay: 0.2s;
      }

      &--top {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 1px;
        transform: scaleX(0);
        transform-origin: left center;
        transition-delay: 0.1s;
      }

      &--right {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 1px;
        height: 100%;
        transform: scaleY(0);
        transform-origin: top center;
        transition-delay: 0s;
      }
    }

    &:hover &-border {
      transform: scale(1);

      &--left { transition-delay: 0s; }
      &--top { transition-delay: 0.1s; }
      &--right { transition-delay: 0.2s; }
    }

    &--brown { color: c(brown); }
    &--brown &-border { background-color: c(brown); }

    &--white { color: c(white); }
    &--white &-border { background-color: c(white); }

  }
}
