.#{$prefix} {
  &-Login {

    &-form,
    &-register {}

    &-register {
      border-color: transparent;
    }

    &-title {
      @include title(M);
      margin-bottom: 10px;
      text-align: left;
    }

    &-subtitle {
      @include text(M);
    }

    &-formField {
      margin-top: 20px;
    }

    &-input {
      &--email,
      &--password {
        width: 100%;
      }
    }

    &-passwordRecover {
      @include text(S);
    }

    &-registerLink {
      margin-top: 20px;
    }

    @include media-smartphone-only {

      &-input--submit,
      &-registerLink {
        width: 100%;
      }

    }

    @include media-desktop {

      &-form {
        float: left;
        width: 500px;
        margin-left: calc(50% - 520px);
      }

      &-register {
        margin-left: calc(50% + 20px);
      }

      &-registerLink {
        width: 20em;
      }

    }

  }

}
