.#{$prefix} {
  &-MainHeader {
    flex: 0 0 auto;
    background: c(white);
    z-index: 1000;

    @include media-smartphone-only {
      position: fixed;
      width: 100%;
      height: 40px;
      border-bottom: 1px solid c(light-grey);
    }

    @include media-tablet-and-above {
      position: relative;

      &.#{$prefix}-isSticky {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
      }

      &-shadow {
        position: absolute;
        width: 10000px;
        height: 1px;
        top: calc(100% - 1px);
        right: 50%;
        transform: translateX(50%);
        background: c(white);
        box-shadow: 0 2px 2px rgba(c(brown), 0.1);
        opacity: 0;
        transition: opacity 0.2s ease;
      }

      &.#{$prefix}-isScrolled &-shadow {
        opacity: 1;
      }
    }

  }
}
