.#{$prefix} {
  &-MainNavigation {

    position: relative;
    width: 100%;
    background: c(brown);

    &-item {
      cursor: pointer;
      padding: 2px 0;
    }

    &-link {
      position: relative;
      display: block;
      padding: 10px 15px;
      background: c(pink);
      text-transform: uppercase;
      font-size: 12px;
      white-space: nowrap;
      z-index: 1;
    }

    &-indicator {
      display: none;
      position: absolute;
      top: 100%;
      left: 50%;
      width: 12px;
      height: 6px;
      transform: translate(-50%, 10px);
    }

    @include media-tablet-and-above {

      background: transparent;

      &-items {
        @include row((
          align-items: center center,
          wrap: false
        ));
        overflow: visible;
      }

      &-item {
        @include col((size:grow));
        padding: 10px 0;
      }

      &-link {
        padding: 0 12px;
        background: c(white);
        text-align: center;
        transition: color 0.1s ease-out;

        &:hover,
        &:active,
        &:focus {
          text-decoration: none;
          color: c(pink);
        }
      }

      &-item.#{$prefix}-isSelected &-indicator {
        display: block;
      }

      &-item.#{$prefix}-isSelected &-link {
        text-decoration: none;
        color: c(pink);
      }
    }

    @include media-desktop {

      position: absolute;
      top: 100%;
      right: 50%;
      width: calc(100% - 450px);
      transform: translate(50%, -100%);

      &-item {
        @include col-size(auto);
      }

    }

  }
}
