.#{$prefix} {
  &-MainWrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 100vh;
    overflow-x: hidden;

    @include media-tablet-and-above {
      max-width: none;
    }

  }
}
