.#{$prefix} {
  &-MainLogo {
    display: block;
    position: relative;


    &-image {
      height: calc(100% - 20px);
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      &--white {
        display: none;
      }
    }

    &--white  &-image { display: none; }
    &--white  &-image--white { display: block; }

    @include media-smartphone-only {
      width: 50%;
      height: 100%;
      margin: 0 auto;
    }

    @include media-tablet-and-above {

      /**
       *
       * move the logo below the top bar
       *
       */
      width: 100%;
      height: 60px;
      position: absolute;
      top: 0;
      transform: translateY(40px);
      z-index: 1;

      @keyframes #{$prefix}-MainLogo-1 {
        from { opacity: 0; transform: translateY(40px); }
        to { opacity: 1; transform: translateY(35px); }
      }

      @keyframes #{$prefix}-MainLogo-2 {
        from { opacity: 0; transform: translateY(35px); }
        to { opacity: 1; transform: translateY(40px); }
      }

      .#{$prefix}-isMini & {
        width: 210px;
        height: 40px;
        transform: translateY(30px);
      }

      .#{$prefix}-isMini &-image {
        left: 0;
        transform: translate(50px, -50%);
      }

      @supports(animation-name: foo) {
        .#{$prefix}-isAnimatingIn &,
        .#{$prefix}-isAnimatingOut & {
          opacity: 0;
          animation: 0.1s ease-out 0.1s;
          animation-fill-mode: forwards;
        }

        .#{$prefix}-isAnimatingIn & {
          animation-name: #{$prefix}-MainLogo-1;
        }

        .#{$prefix}-isAnimatingOut & {
          animation-name: #{$prefix}-MainLogo-2;
        }
      }

    }
  }
}
