.#{$prefix} {
  &-Materials {
    overflow: hidden;
    text-align: center;

    &--home {
      padding-bottom: 45px;
      background-image: url(../images/material-background-home.jpg);
      background-position: left top;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &-disclaimer {
      @include title(XXS);
      font-weight: 800;
    }

    &-button {
      margin-top: 40px;
    }

    @include media-large-desktop {
      &--narrow {
        padding-left: 140px;
        padding-right: 140px;
      }
    }

  }
}
