.#{$prefix} {
  &-MenuService {

    &-item {
      @include col;
      @include row((align-items: left center));
      padding: 10px 0;

      // pushes the flexbox item to the right of the flexbox container
      &--right {
        margin-left: auto;
      }

      // Items only visible on desktop. Hide on mobile
      &--d {
        display: none;
      }

      &--o {
        overflow: visible;
      }
    }

    &-itemInner {
      padding: 0 10px;
      border-left: 1px solid;

      &--first {
        border-left: none;
        padding-left: 0;
      }

      &--last {
        padding-right: 0;
      }
    }

    &-container {
      @include row;
      @include text(XS);
      width: 100%;
    }

    &-container--top {
      background: c(pink);

      .#{$prefix}-MenuService-itemInner {
        border-color: c(brown);
      }
    }

    &-container--bottom {
      color: c(white);
      background: c(brown);

      .#{$prefix}-MenuService-itemInner {
        border-color: c(white);
      }
    }

    &-itemsCount {
      @include text-sans(XS);
      font-weight: 800;
    }

    @include media-tablet-and-above {

      &-item {

        // Items oinly visible on mobile. Hide on desktop
        &--s {
          display: none;
        }

        // Items only visible on desktop. Restore original display
        &--d {
          display: flex;
        }

        &--search {
          margin: 0;
        }
      }

      &-container:after {
        content: '';
        z-index: -1;
        position: absolute;
        top: 0;
        right: 50%;
        transform: translateX(50%);
        width: 10000px;
        height: 100%;
        border-bottom: 1px solid;
      }

      &-container--top {
        overflow: visible;
        background: c(brown);
        color: c(white);

        .#{$prefix}-MenuService-itemInner {
          border-color: c(pink);
        }

        &:after {
          background: c(brown);
          border-bottom-color: c(brown);
        }
      }

      &-container--bottom {
        overflow: visible;
        color: c(brown);
        background: c(white);
        border-bottom: 1px solid c(light-grey);
        padding-top: 60px; // make room for translating the logo down
        transition: padding-top 0.2s ease;

        .#{$prefix}-MenuService-itemInner {
          color: c(brown);
          border-color: c(pink);
        }

        &:after {
          background: c(white);
          border-bottom-color: c(white);
        }
      }

      .#{$prefix}-isMini &-container--bottom {
        padding-top: 0; // Mini-menu view, remove extra space
      }

      @at-root .#{$prefix}-isMini ##{$prefix}-PromoShipping {
        display: none;
      }

    }

  }
}
