.#{$prefix} {
  &-MenuIcon {
    position: fixed;
    width: 25px;
    height: 19px;
    cursor: pointer;

    svg:last-child { display: none; }

    &-open,
    &-close {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: all 0.1s ease;
    }

    &-open {
      transform: rotate(45deg);
    }

    &-close {
      transform: rotate(-45deg);
    }

    &-open.#{$prefix}-isVisible {
      opacity: 1;
      transform: rotate(0);
    }

    &-close.#{$prefix}-isVisible {
      opacity: 1;
      transform: rotate(0);
    }

    @include media-smartphone-only {
      box-sizing: content-box;
      right: 0;
      top: 0;
      border: 10px solid transparent;
    }

    @include media-tablet-and-above {
      display: none;
      right: 13px;
      top: 13px;

      &--desktop {
        position: absolute;
        display: block;
        background: c(brown);
        border: 10px solid c(brown);
        padding: 15px;
        top: 100%;
        right: 0;
      }

      svg:first-child { display: none; }
      svg:last-child { display: block; }
    }

  }
}
