.#{$prefix} {
  &-MenuContainer {
    display: none;
    z-index: 1;

    &.#{$prefix}-isVisible {
      display: block;
    }

    @include media-smartphone-only {
      width: 100vw;
      height: calc(100vh - 39px); // subtract logo height
      overflow: auto;
      background: c(brown);
    }

  }
}
