.#{$prefix} {
  &-MetaInfo {
    padding: 10px;
    border-bottom: 1px solid c(light-grey);
    transition: border-bottom-color 0.2s ease-in-out;

    &::after {
      @include clearfix;
    }

    &-category {
      float: left;
    }

    &-date {
      float: right;
      font-style: italic;
    }

  }
}
