.#{$prefix} {
  &-NewsletterForm {
    color: c(brown);

    &-formLabel {
      text-align: left;
    }

    &-input {
      &--name,
      &--email {
        width: 100%;
      }
    }

    @include media-smartphone-only {

      &-formField {
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 20px;
      }

      &-input--submit {
        width: 100%;
        max-width: 30em;
        margin: 0 auto;
      }

    }

    @include media-tablet-and-above {

      &-formField {
        width: 100%;
        max-width: 30em;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto 10px auto;
      }

      &-input--submit {
        width: 30em;
      }

    }

  }
}
