.#{$prefix} {
  &-PreviewBoxes {

    @include media-tablet-and-above {
      margin-bottom: -20px;

      &-group {
        @include row((gutter: 20px, align-items: center stretch));
      }

    }

  }
}
