.#{$prefix} {
  &-PreviewBox {

    position: relative;
    display: block;
    text-align: center;

    &-content {
      position: relative;
      width: 100%;
    }

    &-image {
      @include ratio(100%);
      display: block;
      width: 100%;
      overflow: hidden;

      &--rounded {
        border-radius: 100%;
        border: 2px solid c(pink);
      }

      img {
        width: auto;
        height: 100%;
        position: absolute;
        top: 0;
        right: 50%;
        transform: translateX(50%);
      }
    }

    &-meta {
      padding: 10px;
      border-bottom: 1px solid c(light-grey);
      transition: border-bottom-color 0.2s ease-in-out;

      &::after {
        @include clearfix;
      }
    }

    &-content:hover &-meta {
      border-bottom-color: c(brown);
    }

    &-category {
      float: left;
    }

    &-date {
      float: right;
      font-style: italic;
    }

    &-title {
      @include title(L);
      margin-top: 24px;

      &--small {
        @include title(XS);
      }
    }

    &-subTitle {
      @include text(M);
      margin-top: 7px;
    }

    &-price {
      @include text(XXL);
    }

    &-button {
      margin-top: 18px;
      font-weight: 800;
    }

    @include media-smartphone-only {

      & + & {
        margin-top: 40px;
      }

      &-image {
        @include ratio(100%);
      }

    }

    @include media-tablet-and-above {
      margin-bottom: 20px;

      &--4 {
        @include col((size:25%, gutter:20px));
      }

      &--3 {
        @include col((size:33.33%, gutter:20px));
      }

      &-content {
        padding: 3px;
        padding-bottom: 10px;
        transition: background-color 0.2s ease-in-out;

        &:hover,
        &:active,
        &:focus {
          background-color: c(pink);
        }
      }

      &-image {
        @include ratio(280, 280);
      }

    }

  }
}
