.#{$prefix} {
  &-ProductForm {

    &-name {
      @include text(L);
      text-transform: uppercase;
      font-weight: 400;
    }

    &-price {
      @include text(XXL);
      padding-bottom: 10px;
      border-bottom: 1px solid c(light-grey);
    }

    &-variants {
      margin-top: 10px;
    }

    &-variantsLabel {
      @include text(XXS);
      text-transform: uppercase;
    }

    &-variantsButtons {
      @include row((gutter: 5px));
      margin-top: 10px;
    }

    &-variantButton {
      @include col((gutter: 5px));

      input {
        display: none;
      }
    }

    &-variantLabel {
      display: inline-block;
      width: 50px;
      height: 50px;
      border: 1px solid transparent;
      opacity: 0.5;
      cursor: pointer;
      font-size: 0;
      line-height: 0;
    }

    &-variantButton input:checked + &-variantLabel {
      border: 1px solid c(pink);
      opacity: 1;
    }

    &-variantName {
      @include text(XXS);
      margin-top: 5px;
      text-transform: uppercase;
    }

    &-materialsGuideLink {
      @include text(XXS);
      display: block;
      margin-top: 10px;
    }

    &-inputs {
      margin-top: 20px;
      border-bottom: 1px solid c(light-grey);
      padding-bottom: 10px;
    }

    &-sizes,
    &-quantity {
      display: inline-block;
    }

    &-quantityInput {
      width: 112px;
      text-align: right;
    }

    &-sizesLabel,
    &-quantityLabel {
      @include text(XXS);
      display: block;
      text-transform: uppercase;
      margin-bottom: 5px;
    }

    &-sizesGuideLink {
      @include text(XXS);
      margin-top: 10px;
    }

    &-notes {
      @include text-sans(M);
      margin-top: 10px;
    }

    &-description {
      .#{$prefix}-Accordion-content {
        display: block;
      }
    }

    &-descriptionLabel {
      cursor: pointer;
    }

    &-descriptionReadMore {
      @include text-sans(S);
      display: none;
      position: absolute;
      right: 0;
      top: calc(100% + 64px);
      text-decoration: underline;
    }

    &-descriptionText {
      @include text-sans(S);
      margin: 10px;
      overflow: hidden;
    }

    .#{$prefix}-isClosed &-descriptionText { height: 33px; /* 2x line-height */ }
    .#{$prefix}-isOpened &-descriptionText { height: auto; }

    .#{$prefix}-isClosed &-descriptionReadMore { display: block; }

    &-shippingLink {
      @include text-sans(M);
      display: block;
      margin-top: 20px;
      text-transform: uppercase;

      &:link, &:visited {
        text-decoration: underline;
      }
    }

    &-chartButton {
      display: block;
      width: 100%;
      margin-top: 10px;
      color: c(white);
      background-color: c(brown);
      border-color: c(brown);
    }

    &-wishlistButton {
      display: block;
      float: left;
      margin-top: 10px;
    }

    &-share {
      display: inline-block;
      float: right;
      margin-top: 10px;
    }

  }
}
