.#{$prefix} {
  &-ProductModal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    text-align: center;

    &.#{$prefix}-isVisible {
      display: block;
    }

    &-overlay {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(c(brown), 0.75);
    }

    &-content {
      position: absolute;
      right: 50%;
      bottom: 50%;
      transform: translate(50%, 50%);
      width: 500px;
      height: 500px;
      background: c(white);
      border-radius: 100%;
    }

    &-contentInner {
      position: absolute;
      right: 50%;
      bottom: 50%;
      transform: translate(50%, 50%);
    }

    &-closeButton {
      position: absolute;
      left: 80%;
      bottom: 90%;
      width: 50px;
      height: 50px;
      background: c(light-pink);
      border-radius: 100%;
      cursor: pointer;
    }

    &-closeButtonIcon {
      position: absolute;
      right: 50%;
      bottom: 50%;
      transform: translate(50%, 50%);
      width: 20px;
      height: 20px;
    }

    &-item + &-item {
      margin-top: 10px;
    }

    &-label {
      @include text(M);
    }

    &-text {
      @include title(M);
      margin-top: 5px;
    }

    &-buyButton {
      margin-top: 20px;
    }

    &-closeLink {
      @include text-sans(S);
      margin-top: 10px;
      text-decoration: underline;
      text-transform: uppercase;
      cursor: pointer;
    }

  }
}
