.#{$prefix} {
  &-RectButton {
    @include text-sans(M);
    display: inline-block;
    padding: 14px;
    border-width: 1px;
    border-style: solid;
    outline: none;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    background: transparent;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    transition-property: color, background-color, border-color;

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }

    &--low {
      padding-top: 7px;
      padding-bottom: 7px;
    }

    &--transparent {
      color: c(white);

      &:hover,
      &:active,
      &:focus {
        background-color: c(brown);
      }
    }

    &--white {
      background-color: c(white);
      border-color: c(brown);

      &:hover,
      &:active,
      &:focus {
        color: c(white);
        background-color: c(brown);
      }
    }

    &--brownOnWhite,
    &--brownOnPink {
      color: c(white);
      background-color: c(brown);
      border-color: c(brown);

      &:hover,
      &:active,
      &:focus {
        color: c(brown);
        background-color: c(white);
      }
    }

    &--brownOnPink {
      &:hover,
      &:active,
      &:focus {
        border-color: c(white);
      }
    }

  }
}
