.#{$prefix} {
  &-Registration {

    &-formField {
      margin-bottom: 40px;

      &--name,
      &--surname {
        margin-bottom: 40px;
      }
    }

    &-input {
      &--name,
      &--surname,
      &--email,
      &--password,
      &--day,
      &--month {
        width: 100%;
      }
    }

    &-formLabel {

      &--gender,
      &--day,
      &--month {
        text-transform: uppercase;
        margin-bottom: 10px;
      }

      &--month {
        opacity: 0;
      }
    }

    @include media-smartphone-only {

      &-input--submit {
        width: 100%;
      }

    }

    @include media-desktop {
      padding-left: 100px;
      padding-right: 100px;

      &-form {
        @include row((gutter: 40px));
      }

      &-formField {
        @include col((size: 1/2, gutter: 40px));

        &--gender,
        &-privacy,
        &--submit {
          @include col-size(100%, 40px);
        }
      }

      &-submit {
        width: 30em;
      }

    }

    @include media-large-desktop {
      padding-left: 150px;
      padding-right: 150px;
    }

  }
}
