.#{$prefix} {
  &-Reseller {

    &-inner {
      @include text(S);
      height: 100%;
      padding: 24px;
      background-color: c(light-pink);
    }

    &-data {
      margin-top: 5px;

      &--name {
        @include title(S);
        margin-top: 0;
        text-align: left;
      }
    }

    @include media-smartphone-only {
      @include col((size: 100%, gutter: 5px));

      & + & {
        margin-top: 5px;
      }
    }

    @include media-tablet-and-above {
      @include col((size: 1/4, gutter: 5px));
      margin-bottom: 5px;
    }

  }
}
