.#{$prefix} {
  &-Resellers {
    margin-top: 40px;

    &-form {
      text-align: center;
    }

    &-searchResults {
      @include row((gutter:5px));
    }

    @include media-smartphone-only {

      &-select,
      &-submit {
        display: block;
        width: 100%;
      }

      &-submit {
        margin-top: 10px;
      }
    }

    @include media-tablet-and-above {
      &-searchResults {
        margin-bottom: -5px;
        overflow: hidden;
      }
    }

  }
}
