.#{$prefix} {
  &-RevealBox {

    position: relative;
    margin-bottom: 15px;

    &-content {
      position: relative;
    }

    &-image {
      display: block;
      width: 100%;
      overflow: hidden;

      img {
        width: auto;
        height: 100%;
        position: absolute;
        top: 0;
        right: 50%;
        transform: translateX(50%);
      }
    }

    &-reveal {
      color: c(white);
      background: rgba(c(brown), 0.7);
    }

    &-revealContent {
      text-align: center;
    }

    &-title {
      @include title(L);
    }

    &-subTitle {
      @include text(M);
      margin-top: 7px;
    }

    &-button {
      margin-top: 24px;
    }

    @include media-smartphone-only {

      &--wide,
      &--narrow {
        @include col((size:100%, gutter:15px));
      }

      &-image {
        &--wide,
        &--narrow {
          @include ratio(100%);
        }
      }

      &-reveal {
        position: relative;
        background: c(brown);
      }

      &-revealContent {
        padding-top: 16px;
        padding-bottom: 16px;
      }

    }

    @include media-tablet-and-above {

      &--wide {
        @include col((size:745/1180, gutter:15px));
      }

      &--narrow {
        @include col((size:435/1180, gutter:15px));
      }

      &-reveal {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;

        &:hover,
        &:active,
        &:focus {
          opacity: 1;
        }
      }

      &-image {
        &--wide {
          @include ratio(740, 425);
        }

        &--narrow {
          @include ratio(425, 425);
        }
      }

      &-revealContent {
        position: absolute;
        right: 50%;
        bottom: 50%;
        transform: translate(50%, 50%);
        width: 100%;
      }

    }
  }
}
