.#{$prefix} {
    &-SearchBar {
        &-input {
            width: 80px;
            font-size: 12px;
            color: c(white);
            background: transparent;
            border: none;
            border-bottom: 1px solid c(white);
        }

        &-icon {
            cursor: pointer;
            display: inline-block;
            width: 12px;
            height: 12px;
        }
    }
}

@include media-tablet-and-above {
    .#{$prefix} {
        &-SearchBar {
            &-input {
                display: none;
                color: c(brown);
                border-color: c(brown);
            }
        }
    }
}
