.#{$prefix} {
  &-SectionHeader {
    text-align: center;

    &-title {
      @include title(XL);

      &--white {
        color: c(white);
      }

      &--small,
      &--news {
        @include title(L);
      }

      &--inverted {
        @include text(M);
        text-transform: none;
        font-weight: 400;
      }

      &--account {
        @include title(M);
        padding-top: 20px;
        border-top: 1px solid c(light-grey);
      }

      &--product {
        @include text(M);
        text-align: left;
        text-transform: uppercase;
        position: relative;
        margin-top: 40px;
        margin-bottom: 20px;
      }

      &--product-line {
        @include text(M);
        text-align: left;
        text-transform: uppercase;
        position: relative;
        margin: 40px 0 20px 100px;
        padding-left: 10px;

        &:before {
          content: '';
          position: absolute;
          top: calc(50%);
          width: 100px;
          right: 100%;
          height: 1px;
          background: c(pink);
        }
      }

    }

    &-subTitle {
      @include text(M);
      margin-top: 8px;

      &--white {
        color: c(white);
      }

      &--small {
        @include text(S);
      }

      &--inverted {
        @include title(M);
      }

      &--account {
        @include text(S);
        margin-top: 4px;
      }

      &--news {
        @include text(L);
        margin-top: 4px;
      }
    }

    @include media-desktop {

      &-title--left,
      &-subTitle--left {
        text-align: left;
      }

    }

  }
}
