.#{$prefix} {
  &-Share {
    position: relative;
    white-space: nowrap;

    &-shareCTA {
      display: inline-block;
      text-transform: uppercase;
      @include text-sans(M);
      margin-right: 5px;
    }

    &-shareButton {
      border: none;
      background: none;
      display: inline-block;
      position: relative;
      width: 20px;
      height: 20px;
      top: 4px;
    }

    &-shareIcon {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

    &-shareIcon--inverted {
      display: none;
    }

  }
}
