.#{$prefix} {
  &-Shop {

    &-header,
    &-body {
      @include row;
      position: relative;
    }

    &-header {
      overflow: visible;
    }

    &-col {
      @include col;
      position: relative;
    }

    &-header &-col--right {
      text-align: right;
    }

    &-headerTitle {
      position: relative;
      display: inline-block;
      @include text(S);
      padding-top: 10px;
      padding-bottom: 10px;
    }

    &-categoryCount {
      @include text(S);
      display: inline-block;
      position: absolute;
      top: 0;
      left: 15px;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    &-sort {
      margin-right: 5px;
      position: relative;
    }

    &-sortSelect {
      @include text(S);
      text-align: left;
    }

    &-filtersSection {
      @include text(S);
      position: relative;
      padding: 10px;
      margin-bottom: 2px;
      background-color: c(pink);
      text-transform: uppercase;
      cursor: pointer;
    }

    &-filtersList {
      padding: 8px 0 10px 0;
      list-style: none;
    }

    &-filtersCategory {
      @include text(S);
      padding: 5px 10px;
    }

    @include media-smartphone-only {

      &-header {
        position: fixed;
        left: 0;
        right: 0;
        z-index: 999;
        border-bottom: 1px solid darken(c(pink), 5%);
      }

      &-body &-col--left {
        position: fixed !important;
        left: 0;
        right: 0;
        bottom: 0;
      }

      &-body &-col--right {
        padding-top: 48px;
      }

    }

    @include media-tablet-and-below {

      &-header {
        background-color: c(pink);
      }

      &-header &-col--left,
      &-header &-col--right {
        @include col-size(grow);
      }

      &-body &-col--left,
      &-body &-col--right {
        @include col-size(100%);
      }

      &-body &-col--left {
        display: none;
        position: absolute;
        padding: 10px;
        top: 0;
        z-index: 999;
        overflow: auto;
        background: c(white);

        &.#{$prefix}-isVisible {
          display: block;
        }
      }

      &-headerTitle {
        padding-left: 10px;
        padding-right: 30px;
      }

      &-sortSelect {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0;
      }

      &-categoryCount {
        display: none;
      }

      &-list {
        width: 100%;
      }

      &-button {
        width: calc(100% - 40px);
        margin-left: 20px;
      }

    }

    @include media-tablet-and-above {

      &-header {
        margin-top: 10px;
      }

      &-list {
        @include row;
        margin-bottom: -40px;
      }

      &-button {
        width: 100%;
      }

    }

    @include media-desktop {

      &-header,
      &-body {
        @include row-gutter(20px);
      }

      &-col--left {
        @include col-size(280px, 20px);
      }

      &-col--right {
        @include col-size('calc(100% - 280px)', 20px);
      }

      &-headerTitle:after {
        content: ':';
      }

      &-headerTitle &-openIcon,
      &-filtersSection &-openIcon {
        display: none;
      }

      &-list {
        border-top: 1px solid c(light-grey);
      }

    }

  }
}
