.#{$prefix} {
  &-ShopEmotional {
    position: absolute;
    right: 50%;
    top: 0;
    width: 100vw;
    height: 100vh;
    transform: translateX(50%);

    &-background {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: c(pink);

      &-smartphone,
      &-tablet,
      &-desktop {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    &-form {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;

      &--slide {
        overflow: hidden;
      }
    }

    &-formSection {
      position: relative;
      width: 100%;
      height: 100%;

      &--slide {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        transform: scale(1.2);
        visibility: hidden;
        transition: 0.5s ease-out;
        transition-property: opacity, transform;

        &.#{$prefix}-isSelected {
          opacity: 1;
          transform: scale(1);
          visibility: visible;
        }
      }
    }

    &-formContent {
      position: absolute;
      left: 0;
      bottom: 50%;
      width: 100%;
      transform: translateY(50%) translateY(-140px);
    }

    &-question {
      @include title(XL);
      color: c(white);
      margin-top: 150px;
    }

    &-inputs {
      margin-top: 40px;
      text-align: center;
    }

    @include media-smartphone-only {
      &-background-smartphone { display: block; }

      &-question {
        @include title(M);
      }
    }

    @include media-tablet-only {
      &-background-tablet { display: block; }
    }

    @include media-desktop {
      &-background-desktop { display: block; }
    }

  }
}
