.#{$prefix} {
  &-ShopItem {
    width: 100%;
    margin-bottom: 40px;

    &-image {
      width: 100%;
      padding: 5px;
      background-color: c(white);

      img {
        width: 100%;
      }
    }

    &-reveal {
      padding-left: 5px;
      padding-right: 5px;
    }

    &-title {
      @include title(S);
      text-align: left;
    }

    &-price {
      @include title(S);
      text-align: left;
      margin-top: 6px;
    }

    &-info {
      @include text-sans(S);
      margin-top: 12px;
    }

    &-button {
      width: 100%;
      margin-top: 20px;
    }

    &-wishlistButton {
      display: inline-block;
      margin-top: 5px;
    }

    @include media-tablet-and-above {
      @include col((size: 1/3));
      position: relative;

      &-image {
        transition: background-color 0.2s ease-in-out;
      }

      &:hover &-image {
        background-color: c(pink);
      }

      &-reveal {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 100%;
        background-color: c(pink);
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
      }

      &:nth-child(3n) &-reveal {
        left: auto;
        right: 100%;
      }

      &:hover &-reveal {
        visibility: visible;
        opacity: 1;
        z-index: 1;
      }

      &-revealContent {
        position: absolute;
        left: 10px;
        bottom: 50%;
        transform: translateY(50%);
        width: calc(100% - 20px);
      }

    }

  }
}
