.#{$prefix} {
  &-Simple {
    @include text(M);

    h1 { @include title(L); }
    h2 { @include title(S); }
    h3, h4, h5, h5 { @include title(XS); }

    @for $i from 1 to 6 {
      h#{$i} {
        text-align: left;
        text-transform: uppercase;
      }
    }

    @include media-desktop {
      max-width: 50em;
      margin: 0 auto;
    }

  }
}
