.#{$prefix} {
  &-Slideshow {
    position: relative;
    width: 100%;
    height: 100%;

    &--active &-item {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 2s ease;

      &.#{$prefix}-isVisible {
        opacity: 1;
      }
    }

    &-image {
      display: block;
      width: 100%;
    }

  }
}
