.#{$prefix} {
  &-SplitVertical {

    @include media-desktop {

      @include row((gutter: 40px));

      &-col {
        @include col;
        position: relative;
      }

      &-col--left {
        @include col-size('calc(100% - 470px)', 40px);
      }

      &-col--right {
        @include col-size(470px, 40px);
      }

    }

  }
}
