.#{$prefix} {
  &-Store {

    &:nth-child(even) {
      position: relative;
      overflow: visible;

      &::after {
        content: '';
        z-index: -1;
        position: absolute;
        right: 50%;
        top: 0;
        width: 10000px;
        height: 100%;
        transform: translateX(50%);
        background-color: c(light-grey);
      }
    }

    &-image {

      &--wide {
        @include ratio(775, 515);
      }

      &--square {
        @include ratio(366, 366);
      }

      img {
        display: block;
        width: 100%;
      }

    }

    &-name {
      @include text(XL);
      text-transform: uppercase;
      font-weight: 400;
    }

    &-address {
      @include text(L);
      margin-top: 4px;
      padding-bottom: 8px;
      border-bottom: 1px solid c(brown);
      font-weight: 400;
    }

    &-description { @include text(M); }

    &-info {
      @include text(M);
    }

    &-infoLabel {
      font-weight: 800;
      margin-top: 1em;
    }

    @include media-tablet-and-below {

      @include row((gutter:5px));

      &-col {
        @include col;

        &--1 {
          @include col-size(100%, 5px);
          margin-bottom: 5px;
        }

        &--2, &--3, &--4 {
          @include col-size(1/3, 5px);
        }

        &--5 {
          @include col-size(100%, 5px);
          margin-top: 10px;
        }

      }

    }

    @include media-desktop {

      @include row((gutter:40px));

      & + & {
        margin-top: 40px;
      }

      &:nth-child(even) {
        padding-top: 40px;
        padding-bottom: 40px;
      }

      &-col {
        @include col((size:1/3, gutter:40px));

        &--1 {
          @include col-size(2/3, 40px);
          order: 1;
          margin-bottom: 40px;
        }

        &--2, &--3, &--4 { order: 3; }

        &--5 {
          order: 2;
          margin-bottom: 40px;
        }

      }

      &:nth-child(even) &-col--1 { order: 2; }
      &:nth-child(even) &-col--5 { order: 1; }

    }

  }
}
