.#{$prefix} {
  &-Table {
    position: relative;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;

    &-body {
      &--orders {
        @include text-sans(M);
      }
    }

    &-cell {
      position: relative;
      text-align: center;
      vertical-align: top;
    }

    &-cellInner {
      position: relative;
      padding: 10px;
    }

    @include media-smartphone-only {

      &-td--wishlist {
        @include col-size(100%);
      }

    }

    @include media-tablet-only {

      &-td--wishlist {
        @include col((size: 1/2));

        &-3 {
          @include col-size(100%);
        }
      }

    }

    @include media-tablet-and-below {

      &,
      &-head,
      &-body,
      &-row,
      &-cell {
    		display: block;
    	}

      &-head {
    		@include visuallyhidden;
    	}

      &-row--body {
        @include row((align-items: center stretch));
        border-bottom: 1px solid c(light-grey);
      }

      &-row--body + &-row--body {
        margin-top: 40px;
      }

      &-td::before {
        content: attr(data-header);
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1em;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 12px;
        line-height: 1;
        text-transform: uppercase;
        background: c(light-grey);
      }

      &-td--orders {
        @include col((size: 1/2));

        &-1,
        &-3 {
          border-right: 1px solid c(light-grey);
        }

        &-5 {
          @include col-size(100%);
        }
      }

      &-td--wishlist {
        &::before { display: none; }
      }


      &-td--chart {
        @include col((size: 1/2));

        &-1,
        &-2 {
          @include col((size: 1/2));
        }

        &-3,
        &-4,
        &-5 {
          @include col((size: 1/3));
        }

        &-1,
        &-3,
        &-4 {
          border-right: 1px solid c(light-grey);
        }

        &-3,
        &-5 {
          @include col-order(1);
        }
      }

      &-cellInner {
        height: calc(100% - 22px);
        margin-top: 22px;

        &--wishlist {
          height: 100%;
          margin-top: 0;
        }
      }

    }

    @include media-desktop {

      &--chart {
        float: left;
        width: calc(100% - 320px);
      }

      &--wishlist {
        border-top: 1px solid c(light-grey);
      }

      &-row--body {
        border-bottom: 1px solid c(light-grey);
      }

      &-th {
        height: 1em;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 12px;
        line-height: 1;
        text-transform: uppercase;
        border: none;
        background: c(light-grey);
      }

      &-td--chart {
        &-1 {
          min-width: 250px;
          text-align: left;
        }
      }

    }

  }
}
