.#{$prefix} {
  &-Timeline {
    position: relative;

    &-bubbles {
      display: block;
      width: 50px;
      height: 74px;
    }

    &-image {
      img {
        display: block;
        width: 100%;
      }
    }

    &-date {
      @include text(XXXL);
      position: relative;
      line-height: 1;

      &--top {
        margin-bottom: 10px;
      }
    }

    &-title {
      @include text(XL);
      margin-top: 6px;
      line-height: 1.25;
      font-weight: 400;
    }

    &-text {
      @include text(S);
      margin-top: 12px;
    }

    @include media-smartphone-only {

      &-bubbles {
        margin: 20px auto 0 auto;
      }

      &-pin {
        display: none;
      }

      &-item--even + &-item--odd {
        margin-top: 40px;
      }

      &-item--even {
        margin-top: 10px;
      }

      &-item:last-child &-bubbles {
        display: none;
      }

      &-date {
        display: none;

        &--top {
          display: block;
          margin-bottom: 10px;
        }
      }
    }

    @include media-tablet-and-above {

      padding-left: 125px;
      padding-right: 125px;

      &:after {
        // draw a central vertical line via a pseudo-element
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 1px;
        height: 100%;
        background: c(brown);
      }

      &-bubbles {
        position: absolute;
        right: 0;
        top: 25px;
      }

      &-pin {
        position: absolute;
        display: block;
        top: 50%;
        left: -50px;
        width: 36px;
        height: 12px;

        span {
          display: block;
          position: absolute;
          right: 0;
          top: 0;
          width: 12px;
          height: 12px;
          background: c(brown);
          border-radius: 100%;

          &::before {
            content: '';
            position: absolute;
            right: 100%;
            top: 50%;
            display: block;
            width: 24px;
            height: 1px;
            background: c(brown);
          }
        }
      }

      &-items {
        @include row((gutter: 100px));
      }

      &-item {
        @include col((size:1/2, gutter: 100px));
        position: relative;

        @for $i from 0 to 20 {
          @if ($i % 4 == 0) {

            &:nth-child(#{$i + 1}) {
              @include col-order(#{$i + 1});
            }

          }
          @elseif (($i - 1) % 4 == 0) {

            &:nth-child(#{$i + 1}) {
              @include col-order(#{$i  - 1});
              text-align: right;

              .#{$prefix}-Timeline-bubbles {
                right: auto;
                left: 0;
                transform: scaleX(-1);
              }

              .#{$prefix}-Timeline-pin {
                left: auto;
                right: -50px;
                transform: scaleX(-1);
              }

            }

          }
          @else {

            &:nth-child(#{$i + 1}) {
              @include col-order(#{$i});
            }

          }
        }
      }

      &-itemInner {
        display: flex;
        align-items: center;
        height: 100%;
      }

      &-image {
        border-radius: 100%;
        overflow: hidden;
      }

      &-date--top {
        display: none;
      }

    }

  }
}
