.#{$prefix} {
  &-WishlistButton {
    @include text-sans(S);
    padding: 7px;
    border: none;
    font-weight: 800;
    text-transform: uppercase;

    &-icon {
      width: 9px;
      height: 9px;
    }

  }
}
