.#{$prefix} {
  &-Appear {

    @include media-desktop {
      transform: translateY(50px);
      opacity: 0;
      transition: 1s ease 0.25s;
      transition-property: opacity, transform;

      &--appeared {
        opacity: 1;
        transform: none;
      }
    }

  }
}
