.#{$prefix} {
  &-isHidden {
    @include hidden;
  }

  &-isVisuallyHidden {
    @include visuallyhidden;
  }

  &-isInvisible {
    @include invisible;
  }

  &-clearfix {
    @include clearfix;
  }

  &-offscreen {
    @include offscreen;
  }
}
