@mixin text($size) {
  font-family: inherit;
  line-height: 1.5;

  @if ($size == XXXL) { font-size: 32px; }
  @if ($size == XXL) { font-size: 24px; }
  @if ($size == XL) { font-size: 21px; }
  @if ($size == L) { font-size: 18px; }
  @if ($size == M) { font-size: 14px; }
  @if ($size == S) { font-size: 12px; }
  @if ($size == XS) { font-size: 11px; }
  @if ($size == XXS) { font-size: 10px; }
}

@mixin text-sans($size) {
  font-family: 'Open sans', sans-serif;
  line-height: 1.5;

  @if ($size == XL) { font-size: 18px; }
  @if ($size == L) { font-size: 14px; }
  @if ($size == M) { font-size: 12px; }
  @if ($size == S) { font-size: 11px; }
  @if ($size == XS) { font-size: 10px; }
}

@mixin title($size) {
  font-family: inherit;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;

  @if ($size == XL) { font-size: 38px; }
  @if ($size == L) { font-size: 24px; }
  @if ($size == M) { font-size: 18px; }
  @if ($size == S) { font-size: 16px; }
  @if ($size == XS) { font-size: 14px; }
  @if ($size == XXS) { font-size: 12px; }
  @if ($size == TINY) { font-size: 10px; }
}
