$breakpoints: (
  smartphone: 1px,
  tablet: 768px,
  desktop: 1024px,
  large-desktop: 1280px,
);

@mixin media-smartphone-only {
  @media (max-width: map-get($breakpoints, tablet) - 1) {
    @content;
  }
}

@mixin media-tablet-only {
  @media (min-width: map-get($breakpoints, tablet)) and (max-width: map-get($breakpoints, desktop) - 1) {
    @content;
  }
}

@mixin media-tablet-and-below {
  @media (max-width: map-get($breakpoints, desktop) - 1) {
    @content;
  }
}

@mixin media-tablet-and-above {
  @media (min-width: map-get($breakpoints, tablet)) {
    @content;
  }
}

@mixin media-desktop {
  @media (min-width: map-get($breakpoints, desktop)) {
    @content;
  }
}

@mixin media-large-desktop {
  @media (min-width: map-get($breakpoints, large-desktop)) {
    @content;
  }
}

/**
 *
 * Write JSON list of breakpoints in the DOM
 * using the "content" property of a pseudo element
 *
 */
##{$prefix}-media-breakpoints {
  &::before {
    position: fixed;
    width: 100%;
    height: 100px;

    @include media-smartphone-only { content: 'smartphone'; }
    @include media-tablet-only { content: 'tablet'; }
    @include media-desktop { content: 'desktop'; }
    @include media-large-desktop { content: 'large-desktop'; }
  }
}
