/**
 *
 * Include a local font-face
 *
 */
@mixin font-face($font-family, $file-path, $font-weight: normal, $font-style: normal) {
    @font-face {
        font-family: $font-family;
        src: url('#{$file-path}.woff2') format('woff2'),
             url('#{$file-path}.woff') format('woff');
        font-weight: $font-weight;
        font-style: $font-style;
    }
}


/**
 *
 * Get a color from the $colors map
 *
 * @param {string} $name - The name of the color
 */
@function c($name) {
    @return map-get($colors, $name);
}


/**
 *
 * Strip the unit from a css size
 *
 */
@function strip-units($number) {
    @return $number / ($number * 0 + 1);
}


/**
 *
 * Convert pixel values to rem
 *
 * @param {px} $px
 * @param {px} $base_font_size - The base font-size in px
 *
 */
@function px2rem($px, $base_font_size: 16px) {
    @return (strip-units($px)/strip-units($base_font_size))+rem;
}


/**
 *
 * Return a SASS map in JSON format
 *
 */
@function mapToJSON($map) {
    $json: '{';
    @each $key, $value in $map {
        $json: $json + '"#{$key}":"#{$value}",'
    }

    // remove trailing comma
    $len: str-length($json);
    $json: str-slice($json, 1, $len - 1);

    $json: $json + '}';
    @return $json;
}


/**
 *
 * Generate a list of atomic classes
 *
 * @param {map} $variants - A map of class->property
 * @param {map} $config - A map of argument->$values
 * @param {map} [$breakpoints] - A list of breakpoints
 *
 * The following include:
 *
 * @include generateAtomicProps((
 *  'm': 'margin',
 *  'm-t': 'margin-top',
 * ), (
 *  l: 40px,
 *  s: 10px,
 * ), (
 *  smartphone: 1px,
 *  tablet: 768px,
 *  desktop: 1024px
 * ));
 *
 * generate the following classes
 *
 * .m(l) { margin: 40px; }
 * .m(s) { margin: 20px; }
 * .m(s)@smartphone-only { margin: 20px; }
 * .m(l)@smartphone-only { margin: 40px; }
 * .m(s)@tablet-only { margin: 20px; }
 * .m(s)@tablet-and-above { margin: 20px; }
 * .m(s)@tablet-and-below { margin: 20px; }
 * .m(l)@tablet-only { margin: 40px; }
 * .m(l)@tablet-and-above { margin: 40px; }
 * .m(l)@tablet-and-below { margin: 40px; }
 * .m(s)@desktop-only { margin: 20px; }
 * .m(l)@desktop-only { margin: 40px; }
 *
 * .m-t(l) { margin-top: 40px; }
 * .m-t(s) { margin-top: 20px; }
 * .m-t(s)@smartphone-only { margin-top: 20px; }
 * .m-t(l)@smartphone-only { margin-top: 40px; }
 * .m-t(s)@tablet-only { margin-top: 20px; }
 * .m-t(s)@tablet-and-above { margin-top: 20px; }
 * .m-t(s)@tablet-and-below { margin-top: 20px; }
 * .m-t(l)@tablet-only { margin-top: 40px; }
 * .m-t(l)@tablet-and-above { margin-top: 40px; }
 * .m-t(l)@tablet-and-below { margin-top: 40px; }
 * .m-t(s)@desktop-only { margin-top: 20px; }
 * .m-t(l)@desktop-only { margin-top: 40px; }
 *
 */
@mixin generateAtomicProps($variants, $config, $breakpoints: false) {
  @each $name, $prop in $variants {
    .#{$name} {
      @each $key, $size in $config {
        &\(#{$key}\) { #{$prop}: $size; }
      }
    }

    @if ($breakpoints) {

      $first-media: nth(map-keys($breakpoints), 1);
      $last-media: nth(map-keys($breakpoints), -1);
      $prev: false;

      @each $media, $value in $breakpoints {

        @if ($media != $first-media and $media != $last-media) {
          @media (min-width: $value) {
            .#{$name} {
              @each $key, $size in $config {
                &\(#{$key}\)\@#{$media}-and-above { #{$prop}: $size; }
              }
            }
          }
        }

        @if ($prev != false) {

          @media (min-width: nth($prev, 2)) and (max-width: $value - 1) {
            .#{$name} {
              @each $key, $size in $config {
                &\(#{$key}\)\@#{nth($prev, 1)}-only { #{$prop}: $size; }
              }
            }
          }

          @if (nth($prev, 1) != $first-media) {
            @media (max-width: $value - 1) {
              .#{$name} {
                @each $key, $size in $config {
                  &\(#{$key}\)\@#{nth($prev, 1)}-and-below { #{$prop}: $size; }
                }
              }
            }
          }

        }

        $prev: $media, $value;

        @if ($media == $last-media) {
          @media (min-width: $value) {
            .#{$name} {
              @each $key, $size in $config {
                &\(#{$key}\)\@#{$media}-only { #{$prop}: $size; }
              }
            }
          }
        }
      }

    }

  }
}
