@mixin hidden {
	display: none !important;
}

// Hide only visually, but have it available for screen readers
@mixin visuallyhidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

// Hide visually and from screen readers, but maintain layout
@mixin invisible {
	visibility: hidden !important;
}

@mixin clearfix {
	display: table;
	content: " ";
  clear: both;
}

@mixin offscreen {
  position: absolute;
  left: -999%;
  top: -999%;
}
