@include generateAtomicProps((
  'm': 'margin',
  'm-t': 'margin-top',
  'm-r': 'margin-right',
  'm-b': 'margin-bottom',
  'm-l': 'margin-left'
), (
  l: 40px,
  m: 20px,
  s: 10px,
  xs: 5px
), $breakpoints);
