@include generateAtomicProps((
  'p': 'padding',
  'p-t': 'padding-top',
  'p-r': 'padding-right',
  'p-b': 'padding-bottom',
  'p-l': 'padding-left'
), (
  l: 40px,
  m: 20px,
  s: 10px,
  xs: 5px
), $breakpoints);
