/* open-sans-300normal - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/open-sans-latin-300.eot'); /* IE9 Compat Modes */
  src:
    local('Open Sans Light '),
    local('Open Sans-Light'),
    url('../fonts/open-sans-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/open-sans-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/open-sans-latin-300.woff') format('woff'), /* Modern Browsers */
    url('../fonts/open-sans-latin-300.svg#open-sans') format('svg'); /* Legacy iOS */
}

/* open-sans-300italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/open-sans-latin-300italic.eot'); /* IE9 Compat Modes */
  src:
    local('Open Sans Light italic'),
    local('Open Sans-Lightitalic'),
    url('../fonts/open-sans-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/open-sans-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/open-sans-latin-300italic.woff') format('woff'), /* Modern Browsers */
    url('../fonts/open-sans-latin-300italic.svg#open-sans') format('svg'); /* Legacy iOS */
}

/* open-sans-400normal - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-latin-400.eot'); /* IE9 Compat Modes */
  src:
    local('Open Sans Regular '),
    local('Open Sans-Regular'),
    url('../fonts/open-sans-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/open-sans-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/open-sans-latin-400.woff') format('woff'), /* Modern Browsers */
    url('../fonts/open-sans-latin-400.svg#open-sans') format('svg'); /* Legacy iOS */
}

/* open-sans-400italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/open-sans-latin-400italic.eot'); /* IE9 Compat Modes */
  src:
    local('Open Sans Regular italic'),
    local('Open Sans-Regularitalic'),
    url('../fonts/open-sans-latin-400italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/open-sans-latin-400italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/open-sans-latin-400italic.woff') format('woff'), /* Modern Browsers */
    url('../fonts/open-sans-latin-400italic.svg#open-sans') format('svg'); /* Legacy iOS */
}

/* open-sans-600italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: url('../fonts/open-sans-latin-600italic.eot'); /* IE9 Compat Modes */
  src:
    local('Open Sans SemiBold italic'),
    local('Open Sans-SemiBolditalic'),
    url('../fonts/open-sans-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/open-sans-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/open-sans-latin-600italic.woff') format('woff'), /* Modern Browsers */
    url('../fonts/open-sans-latin-600italic.svg#open-sans') format('svg'); /* Legacy iOS */
}

/* open-sans-600normal - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/open-sans-latin-600.eot'); /* IE9 Compat Modes */
  src:
    local('Open Sans SemiBold '),
    local('Open Sans-SemiBold'),
    url('../fonts/open-sans-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/open-sans-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/open-sans-latin-600.woff') format('woff'), /* Modern Browsers */
    url('../fonts/open-sans-latin-600.svg#open-sans') format('svg'); /* Legacy iOS */
}

/* open-sans-700normal - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-latin-700.eot'); /* IE9 Compat Modes */
  src:
    local('Open Sans Bold '),
    local('Open Sans-Bold'),
    url('../fonts/open-sans-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/open-sans-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/open-sans-latin-700.woff') format('woff'), /* Modern Browsers */
    url('../fonts/open-sans-latin-700.svg#open-sans') format('svg'); /* Legacy iOS */
}

/* open-sans-700italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/open-sans-latin-700italic.eot'); /* IE9 Compat Modes */
  src:
    local('Open Sans Bold italic'),
    local('Open Sans-Bolditalic'),
    url('../fonts/open-sans-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/open-sans-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/open-sans-latin-700italic.woff') format('woff'), /* Modern Browsers */
    url('../fonts/open-sans-latin-700italic.svg#open-sans') format('svg'); /* Legacy iOS */
}

/* open-sans-800normal - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/open-sans-latin-800.eot'); /* IE9 Compat Modes */
  src:
    local('Open Sans ExtraBold '),
    local('Open Sans-ExtraBold'),
    url('../fonts/open-sans-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/open-sans-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/open-sans-latin-800.woff') format('woff'), /* Modern Browsers */
    url('../fonts/open-sans-latin-800.svg#open-sans') format('svg'); /* Legacy iOS */
}

/* open-sans-800italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: url('../fonts/open-sans-latin-800italic.eot'); /* IE9 Compat Modes */
  src:
    local('Open Sans ExtraBold italic'),
    local('Open Sans-ExtraBolditalic'),
    url('../fonts/open-sans-latin-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/open-sans-latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/open-sans-latin-800italic.woff') format('woff'), /* Modern Browsers */
    url('../fonts/open-sans-latin-800italic.svg#open-sans') format('svg'); /* Legacy iOS */
}
