/* playfair-display-400normal - latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/playfair-display-latin-400.eot'); /* IE9 Compat Modes */
  src:
    local('Playfair Display Regular '),
    local('Playfair Display-Regular'),
    url('../fonts/playfair-display-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/playfair-display-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/playfair-display-latin-400.woff') format('woff'), /* Modern Browsers */
    url('../fonts/playfair-display-latin-400.svg#playfair-display') format('svg'); /* Legacy iOS */
}

/* playfair-display-400italic - latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/playfair-display-latin-400italic.eot'); /* IE9 Compat Modes */
  src:
    local('Playfair Display Regular italic'),
    local('Playfair Display-Regularitalic'),
    url('../fonts/playfair-display-latin-400italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/playfair-display-latin-400italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/playfair-display-latin-400italic.woff') format('woff'), /* Modern Browsers */
    url('../fonts/playfair-display-latin-400italic.svg#playfair-display') format('svg'); /* Legacy iOS */
}

/* playfair-display-700normal - latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/playfair-display-latin-700.eot'); /* IE9 Compat Modes */
  src:
    local('Playfair Display Bold '),
    local('Playfair Display-Bold'),
    url('../fonts/playfair-display-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/playfair-display-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/playfair-display-latin-700.woff') format('woff'), /* Modern Browsers */
    url('../fonts/playfair-display-latin-700.svg#playfair-display') format('svg'); /* Legacy iOS */
}

/* playfair-display-700italic - latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/playfair-display-latin-700italic.eot'); /* IE9 Compat Modes */
  src:
    local('Playfair Display Bold italic'),
    local('Playfair Display-Bolditalic'),
    url('../fonts/playfair-display-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/playfair-display-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/playfair-display-latin-700italic.woff') format('woff'), /* Modern Browsers */
    url('../fonts/playfair-display-latin-700italic.svg#playfair-display') format('svg'); /* Legacy iOS */
}

/* playfair-display-900normal - latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/playfair-display-latin-900.eot'); /* IE9 Compat Modes */
  src:
    local('Playfair Display Black '),
    local('Playfair Display-Black'),
    url('../fonts/playfair-display-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/playfair-display-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/playfair-display-latin-900.woff') format('woff'), /* Modern Browsers */
    url('../fonts/playfair-display-latin-900.svg#playfair-display') format('svg'); /* Legacy iOS */
}

/* playfair-display-900italic - latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 900;
  src: url('../fonts/playfair-display-latin-900italic.eot'); /* IE9 Compat Modes */
  src:
    local('Playfair Display Black italic'),
    local('Playfair Display-Blackitalic'),
    url('../fonts/playfair-display-latin-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/playfair-display-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/playfair-display-latin-900italic.woff') format('woff'), /* Modern Browsers */
    url('../fonts/playfair-display-latin-900italic.svg#playfair-display') format('svg'); /* Legacy iOS */
}
